<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.hemant.listners.CustomListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="UI Tests" parallel="methods">
        <classes>
            <class name="com.hemant.pages.HomePageTests"></class>
            <class name="com.hemant.pages.SignInPageTests"></class>
        </classes>
    </test>
    <test name="API Tests" preserve-order="true">
        <classes>
            <class name="com.rest.herokuapp.APICRUDTest"></class>
        </classes>
    </test>
</suite>